.App {
  text-align: center;
  min-height: 100%;
  background-image: url('https://vignette.wikia.nocookie.net/starwarsofthecaribbean/images/3/30/Christophsis.jpg/revision/latest?cb=20130310013513');
}

