.nav-container {
    text-align: center;
    min-height: 100%;
}

.nav-container button {
    width: 140px;
    height: 40px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px black;
    background-color: #D3C381;
    font-size: 1.5rem;
    &:hover {
        cursor: pointer;
    }
}
.title {
    text-align: center;
    font-family: 'Star Jedi', arial;
    color: rgb(181, 35, 45);
    text-decoration-line: underline;
    font-size: 4rem;
}